@model IEnumerable<JuliePro.Models.TrainerCertification>

<script>
    // TODO: Ajouter la méthode highlightByName()
    function highlightByName(){
    console.log("--------------BREAK NAME--------------")
    var elements = document.getElementsByTagName("tr");


    for(var i = 0;i<elements.length-1;i++){
        var element = elements[i+1];
        let inputAvecId = document.getElementById("inputId");
        let nomAvecId = document.getElementById("idNom"+i);

        var nom= nomAvecId.value;
        var input= inputAvecId.value;
        const lowerNom =nom.toLowerCase();
        const lowerInput =input.toLowerCase();

       
        if(lowerNom.includes(lowerInput)){
             element.style.backgroundColor="yellow"
             console.log(lowerNom)
        }
        else{
            element.style.backgroundColor= "transparent"
        }
    }
        
        


    
    }


    // TODO: Ajouter la méthode filterByDate()
    filterByDate(){
         console.log("--------------BREAK DATE--------------")
    var elements = document.getElementsByTagName("tr");


    for(var i = 0;i<elements.length;i++){
        var element = elements[i];
        let dateAvecId = document.getElementById("dateId");
  

    }
     


    }
</script>

@{
    ViewData["Title"] = @Locals["Index"];
}

<h1>@Locals["Index"]</h1>

<p>
    <a asp-action="Create">@Locals["Create New"]</a>
</p>

<h4>@Locals["HighlightByName"]</h4>
<input id="inputId" type="text" oninput="highlightByName()" />

<h4>@Locals["FilterByDate"]</h4>
<input id="dateId" type="date" />
<button onclick="filterByDate()" class="btn btn-primary">@Locals["Filter"]</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certification)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCertification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model) {

        <tr>
            <td>
                 <a asp-action="Filter" asp-controller="Trainer" asp-route-SearchNameText="@item.Trainer.FullName">
                    @Html.DisplayFor(modelItem => item.Trainer.FullName)
                    @Html.HiddenFor(modelItem => item.Trainer.FullName, new {id="idNom" +i})
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-controller="Certification" asp-route-id="@item.Certification_Id" class="Date">   @Html.DisplayFor(modelItem => item.Certification.FullTitle) </a>
            </td>
            <td>
                @item.DateCertification.ToShortDateString()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Locals["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Locals["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Locals["Delete"]</a>
            </td>
        </tr>
                i += 1;
}
}
    </tbody>
</table>


